.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

/* ----------------------------------------- */
.video-card {
  transition: transform .3s;
}

.video-card:hover {
  transform: scale(1.2);
  z-index: 1;
  cursor: pointer;
}


.video-react .video-react-control-bar {
  background-color: transparent !important;
}